#### Identify what companies are mentioned most frequently in the news along with Caterpillar. 


###### 1.Read file

In [3]:
import pandas as pd
import numpy as np

In [4]:
data=pd.read_pickle('news_cat.pkl')

###### 2. Discard non-English results

In [5]:
data=data[data.language=='english']

#### Identify what companies are mentioned most frequently along with Caterpillar (in both title and the body of the article)
#### Show a table or chart with your top-20 companies (sorted in the descending order)

###### (a) First Work on Text

In [6]:
#Convert all regulation descriptions into one string 

# Function to convert   
def listToString(s):  
    
    # initialize an empty string 
    str1 = ""  
    
    # traverse in the string   
    for ele in s:  
        str1 += ele   
    
    # return string   
    return str1

In [7]:
text=listToString(data.text)

In [8]:
import spacy 
from spacy import displacy

In [9]:
import en_core_web_sm
nlp = en_core_web_sm.load()

In [10]:
# Checking active pipeline components
nlp.pipe_names

['tagger', 'parser', 'ner']

NER(Named Entity Recognition) with SpaCy

In [11]:

doc = nlp(text)

entities = []
labels = []

for ent in doc.ents:
    entities.append(ent)
    labels.append(ent.label_)
    position_start.append(ent.start_char)
    position_end.append(ent.end_char)
    
df = pd.DataFrame({'Entities':entities,'Labels':labels})

NameError: name 'position_start' is not defined

In [168]:
df=df[df.Labels == 'ORG']

In [169]:
df['Entities']=df['Entities'].astype(str)

In [170]:
counts_df = df.groupby('Entities').count()
counts_df.rename(columns={"Labels": "Mentions"}, inplace=True)
counts_df.sort_values(by=['Mentions'], ascending=False).head(21)

                                        Mentions
Entities
Caterpillar                                  513
Caterpillar Inc.                              84
NYSE                                          59
CAT                                           32
Amazon                                        23
SEC                                           23
Cat                                           23
Vista                                         22
Resource Industries                           21
Energy & Transportation                       19
EPS                                           18
Financial Products                            18
Construction Industries                       18
Company                                       18
Caterpillar Inc                               16
Vetr                                          16
Citigroup                                     13
Vista Partners                                12
Rolling Stock                                 11
the Securities and Exchange Commission        11
Acrospire Investment Management LLC           10

* top-20 companies mentioned most frequently along with Caterpillar in the body of the article is show as below"]

###### (a) Second Work on Title

In [171]:
text_title=listToString(data.title)

In [172]:

doc_title = nlp(text_title)

entities = []
labels = []

for ent in doc_title.ents:
    entities.append(ent)
    labels.append(ent.label_)
    position_start.append(ent.start_char)
    position_end.append(ent.end_char)
    
df_title = pd.DataFrame({'Entities':entities,'Labels':labels})

In [173]:
df_title=df_title[df_title.Labels == 'ORG']

In [174]:
df_title['Entities']=df_title['Entities'].astype(str)

In [176]:
counts_df_title = df_title.groupby('Entities').count()
counts_df_title.rename(columns={"Labels": "Mentions"}, inplace=True)
counts_df_title.sort_values(by=['Mentions'], ascending=False).head(21)

                                 Mentions
Entities
Caterpillar Inc.                       12
Caterpillar                             8
NYSE                                    4
&apos;Alice&apos;s Adventures           1
SWEENY                                  1
Mitsubishi Excavator                    1
Mitsubishi Heavy Industries             1
National Bank & Trust                   1
PTO                                     1
Partnervest Advisory Services           1
Peoria progresses1,613 Shares           1
PerformancesIntroduction                1
Rental Mobile Work Platform             1
Rolls-Royce                             1
SAE                                     1
SaleSecurity National Trust Co.         1
MICHIGAN                                1
Siemens                                 1
Summit X LLCCaterpillar Inc.            1
T40D LP Forklift Tow                    1
TX                                      1

* top-20 companies mentioned most frequently along with Caterpillar in the title is show as below"]